<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
    </head>
</div>

 <div id="header"> Welcome to Stay Center</div>

<body>

  <style>
 body {
   background-image: url('https://miro.medium.com/max/1400/0*GMReHtD9mDbpl54Q');

}
</style>

  <div class="content">

      <div class="menu">
          <button id="create"> Create a New Project</button>
          <div class="dropdown">
              <button class="dropbtn" id="list">Open Past Projects</button>
              <div class="dropdown-content">
                  <a href="#">Project 1</a>
                  <a href="#">Project 2</a>
                  <a href="#">Project 3</a>
                  <!-- Add more project links as needed -->
              </div>
          </div>


      </div>


  </div>

  <script type="text/javascript" src="static/home.js"></script>
</body>


 </html>